Repository radiatus-ai/ada: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-hooks, ui-hooks, ui-test-hooks

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: api-hooks
        name: API Hooks
        entry: bash -c 'cd api && pre-commit run --config .pre-commit-config.yaml'
        language: system
        pass_filenames: false
        files: ^api/

      - id: ui-hooks
        name: UI Hooks
        entry: bash -c 'cd ui && pre-commit run --config .pre-commit-config.yaml'
        language: system
        pass_filenames: false
        files: ^ui/

      - id: ui-test-hooks
        name: UI Test Hooks
        entry: bash -c 'cd ui-test && pre-commit run --config .pre-commit-config.yaml'
        language: system
        pass_filenames: false
        files: ^ui-test/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: trailing-whitespace
      - id: end-of-file-fixer

  # - repo: https://github.com/commitizen-tools/commitizen
  #   rev: v3.18.4
  #   hooks:
  #     - id: commitizen
  #       stages: [commit-msg]

Update README.md
  README.md
Due: none

platform progress
  Makefile
  README.md
  api/.env-example
  api/poetry.lock
  api/pyproject.toml
Due: api-hooks

cloud run platform
  Makefile
  ui/src/clients/adaClient.js
  ui/src/index.js
Due: ui-hooks

k8s for api and ui
  k8s/api/deployment.yaml
  k8s/api/sa.yaml
  k8s/api/service.yaml
  k8s/ui/deployment.yaml
  k8s/ui/sa.yaml
  k8s/ui/service.yaml
  k8s/util/ubuntu.yaml
Due: none

wire up external secrets to gsm
  k8s/api/deployment.yaml
  k8s/api/secret-store.yaml
  k8s/api/secrets-future.yaml
  k8s/api/secrets.yaml
  k8s/misc.md
Due: none

auth server builds
  auth/.gitignore
  auth/Dockerfile
  auth/Makefile
  auth/cmd/server/main.go
  auth/go.mod
  auth/go.sum
  auth/internal/auth/handler.go
  auth/internal/auth/handler_test.go
  auth/internal/auth/service.go
  auth/internal/auth/service_test.go
  auth/internal/middleware/auth.go
  auth/internal/middleware/auth_test.go
  auth/internal/model/user.go
  auth/internal/repository/user.go
  auth/internal/repository/user_test.go
  auth/main.go
  auth/migrations/000001_create_users_table.down.sql
  auth/migrations/000001_create_users_table.up.sql
  auth/pkg/jwt/jwt.go
  auth/pkg/jwt/jwt_test.go
  auth/scripts/run-migrations.sh
  auth/scripts/run-tests.sh
Due: none

server starts
  auth/cmd/server/main.go
  auth/config/config.go
  auth/go.mod
  auth/go.sum
  auth/internal/auth/errors.go
  auth/internal/auth/handler.go
  auth/internal/auth/service.go
  auth/internal/model/organization.go
  auth/internal/model/user.go
  auth/internal/repository/organization.go
  auth/internal/repository/user.go
  auth/main.go
  auth/migrations/000001_create_users_table.down.sql
  auth/migrations/000001_create_users_table.up.sql
  auth/migrations/000002_create_organizations_table.down.sql
  auth/migrations/000002_create_organizations_table.up.sql
Due: none

auth api v1
  auth/cmd/server/main.go
  auth/config/config.go
  auth/go.mod
  auth/go.sum
  auth/internal/auth/errors.go
  auth/internal/auth/handler.go
  auth/internal/auth/service.go
  auth/internal/model/organization.go
  auth/internal/model/user.go
  auth/pkg/jwt/jwt.go
Due: none

start to simplify api, auth service handles users, orgs, login
  api/README.md
  api/app/api/ada/v1/endpoints/projects.py
  api/app/api/common/endpoints/auth.py
  api/app/api/common/endpoints/auth_old.py
  api/app/api/common/endpoints/me.py
  api/app/core/config.py
  api/app/core/dependencies.py
  api/app/core/security.py
  api/app/crud/chat.py
  api/app/crud/project.py
  api/app/crud/user.py
  api/app/crud/user_organization.py
  api/app/dead-code/organization.py
  api/app/dead-code/organization_model.py
  api/app/dead-code/project_model.py
  api/app/dead-code/security_old.py
  api/app/dead-code/user_crud.py
  api/app/dead-code/user_model.py
  api/app/dead-code/user_organization_crud.py
  api/app/models/__init__.py
  api/app/models/credential.py
  api/app/models/organization.py
  api/app/models/user.py
  api/app/scripts/seed.py
  api/tests/test_api_projects.py
  api/tests/test_crud_project.py
Due: api-hooks

auth and ui work
  auth/cmd/server/main.go
  auth/internal/auth/handler.go
  auth/internal/auth/service.go
  docker-compose.yaml
  ui/src/App.js
  ui/src/components/Login.js
Due: ui-hooks

api kinda works again with new auth
  README.md
  api/alembic/versions/20240816_232632_init_db.py
  api/app/_dead-code/organization.py
  api/app/_dead-code/organization_model.py
  api/app/_dead-code/project_model.py
  api/app/_dead-code/security_old.py
  api/app/_dead-code/user_crud.py
  api/app/_dead-code/user_model.py
  api/app/_dead-code/user_organization_crud.py
  api/app/core/dependencies.py
  api/app/crud/org.py
  api/app/crud/project.py
  api/app/db/base.py
  api/app/models/api_token.py
  api/app/models/user.py
  api/app/schemas/organization.py
  auth/go.mod
  auth/go.sum
  auth/internal/auth/service.go
  auth/internal/repository/organization.go
  ui/src/pages/Landing.js
Due: api-hooks, ui-hooks

auth service, support multiple google ids
  api/app/api/ada/v1/api.py
  auth/cmd/server/main.go
  auth/config/config.go
  auth/internal/auth/service.go
  data/openapi-spec.yaml
Due: api-hooks

move auth to own repo
  auth/.gitignore
  auth/Dockerfile
  auth/Makefile
  auth/cmd/server/main.go
  auth/config/config.go
  auth/go.mod
  auth/go.sum
  auth/internal/auth/errors.go
  auth/internal/auth/handler.go
  auth/internal/auth/handler_test.go
  auth/internal/auth/service.go
  auth/internal/auth/service_test.go
  auth/internal/middleware/auth.go
  auth/internal/middleware/auth_test.go
  auth/internal/model/organization.go
  auth/internal/model/user.go
  auth/internal/repository/organization.go
  auth/internal/repository/user.go
  auth/internal/repository/user_test.go
  auth/migrations/000001_create_users_table.down.sql
  auth/migrations/000001_create_users_table.up.sql
  auth/migrations/000002_create_organizations_table.down.sql
  auth/migrations/000002_create_organizations_table.up.sql
  auth/pkg/jwt/jwt.go
  auth/pkg/jwt/jwt_test.go
  auth/scripts/run-migrations.sh
  auth/scripts/run-tests.sh
Due: none

misc cleanup
  api/app/core/deps.py
  chunks.md
  fe.md
  notes.md
Due: api-hooks

add cloud build, configure k8s api to use screts, roll out ingress
  Makefile
  api/Dockerfile
  cloudbuild-api-kaniko.yaml
  cloudbuild-ui-kaniko.yaml
  k8s/api/cert.yaml
  k8s/api/deploy.sh
  k8s/api/deployment.yaml
  k8s/api/frontend-config.yaml
  k8s/api/ingress.yaml
  k8s/api/secret-store.yaml
  k8s/ui/deployment.yaml
  ui/Dockerfile
Due: api-hooks, ui-hooks

api platform configured for dev
  api/app/api/api.py
  api/app/main.py
  k8s/api/deployment.yaml
  k8s/api/secrets.yaml
  k8s/api/service.yaml
  ui/src/clients/adaClient.js
Due: api-hooks, ui-hooks

login page work
  api/alembic/versions/20240903_223224_init_db222.py
  api/app/api/ada/v1/endpoints/projects.py
  api/app/core/dependencies.py
  ui/public/service-worker.js
  ui/src/components/Login.js
  ui/src/components/Login/components/index.js
  ui/src/components/Login/index.js
  ui/src/hooks/useAPI.js
  ui/src/index.js
Due: api-hooks, ui-hooks

login work
  ui/public/index.html
  ui/public/service-worker.js
  ui/src/components/Login/index.js
Due: ui-hooks
